<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SIAPP</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/images/user/Siapp.ico"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/landing_pages.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-darkk">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">
                        <a class="navbar-brand" href="/">
                        <img class="anjay" src="/img/siapplanding.png" alt="" style="filter: brightness(0) invert(1); max-width: 80px;">
                        </a>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                            <li class="nav-item text-white"><a class="baten nav-link btn btn-primary text-white ms-lg-2" href="/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>     
            <!-- Header-->
            <header class="border1 bg-dark py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3 text-birutua">Kelola Sumbangan Sosial dengan Mudah.</h1>
                                <p class="lead fw-normal text-muted mb-4 text-birutua">
                                    SIAPP membantu Anda mencatat dan mengelola sumbangan sosial dengan mudah, aman, dan dapat diakses kapan saja.</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Baca Kisah Kami</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <div class="turun">
                <section class="py-5">
                    <div class="container px-5 my-5">
                        <div class="row gx-5 align-items-center turun">
                            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="img/about1.webp" alt="..." /></div>
                            <div class="col-lg-6">
                                <h2 class="fw-bolder text-birutua">Misi Kami</h2>
                                <p class="lead fw-normal text-muted mb-0 text-birutua">Menjadi platform terdepan untuk mengelola investasi sosial dengan aman dan mudah diakses oleh masyarakat.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- About section two-->
                <section class="py-5"  id="scroll-target">
                    <div class="container px-5 my-5">
                        <div class="row gx-5 align-items-center turun">
                            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="img/about2.jpg" alt="..." /></div>
                            <div class="col-lg-6">
                                <h2 class="fw-bolder text-birutua">Cerita Kami</h2>
                                <p class="lead fw-normal text-muted mb-0 text-birutua">SIAPP (Social Investment Application) lahir dari kebutuhan masyarakat, khususnya di daerah Madura, untuk mencatat dan mengelola sumbangan sosial atau "Tumpangan" dalam acara-acara penting.  Dengan SIAPP, setiap sumbangan tercatat secara digital dan transparan, memberikan rasa aman bagi pemberi dan penerima sumbangan.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Team members section-->
            <section class="py-5 bg-light text-birutua">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Tim Kami</h2>
                        <p class="lead fw-normal text-muted mb-5">Berkomitmen pada kualitas dan kesuksesan Anda</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center turun">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="img/niyaniya.png" alt="..." />
                                <h5 class="fw-bolder">Professor Aqil</h5>
                                <div class="fst-italic text-muted">Backend</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="img/Agiel.jpg" alt="..." />
                                <h5 class="fw-bolder">Agiel</h5>
                                <div class="fst-italic text-muted">Backend, Frontend, Mobile</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="img/Ifzal.jpg" alt="..." />
                                <h5 class="fw-bolder">Ifzal</h5>
                                <div class="fst-italic text-muted">UI/UX, Frontend, Proposal</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="img/Tamisa.jpg" alt="..." />
                                <h5 class="fw-bolder">Tamisa</h5>
                                <div class="fst-italic text-muted">UI/UX, Frontend</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="img/Iqbal.jpg" alt="..." />
                                <h5 class="fw-bolder">Iqbal</h5>
                                <div class="fst-italic text-muted">UI/UX, Proposal</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="py-4 mt-auto bg-darkk">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; SIAPP 2024</div></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
