<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SIAPP</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/images/user/Siapp.ico"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/landing_pages.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-darkk">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">
                        <a class="navbar-brand" href="/">
                        <img class="anjay" src="/img/siapplanding.png" alt="" style="filter: brightness(0) invert(1); max-width: 80px;">
                        </a>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                            <li class="nav-item text-white"><a class="baten nav-link btn btn-primary text-white ms-lg-2" href="/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>       
            <!-- Page Content-->
            <header class="border1 bg-dark py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3 text-birutua">Pertanyaan yang Sering Diajukan</h1>
                                <p class="lead fw-normal text-muted mb-4 text-birutua">Apa yang bisa kami bantu?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="py-5 text-birutua">
                <div class="container px-5 my-5">
                    <div class="row gx-5 maju">
                        <div class="col-xl-8">
                            <!-- FAQ Accordion 1-->
                            <h2 class="fw-bolder mb-3">Akun</h2>
                            <div class="accordion mb-5" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Bagaimana cara mendaftar di Siapp?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Untuk mendaftar, klik tombol 'Login' lalu pilih opsi 'Sign Up'. Isikan data Anda dengan benar untuk mulai menggunakan Siapp.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Bagaimana cara memperbarui informasi profil saya?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Masuk ke akun Anda, lalu masuk ke menu "Edit Profil ". Di sana, Anda bisa memperbarui informasi seperti nama, email, atau preferensi lainnya. Jangan lupa klik "Simpan" setelah melakukan perubahan.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- FAQ Accordion 2-->
                            <h2 class="fw-bolder mb-3">Masalaah Teknik Website</h2>
                            <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">Mengapa website ini memuat dengan lambat?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne2" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            Jika website lambat diakses, pastikan koneksi internet Anda stabil. Jika masalah terus terjadi, hubungi tim kami melalui support@siapp.com untuk bantuan lebih lanjut.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">Bagaimana cara melaporkan bug di website?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            Jika Anda menemui bug di platform kami, silakan hubungi tim kami melalui email di support@siapp.com. Pastikan untuk menyertakan deskripsi rinci tentang masalah tersebut.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-4">
                            <div class="card border-0 bg-putihh mt-xl-5">
                                <div class="card-body p-4 py-lg-5">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">Butuh bantuan lebih lanjut?</div>
                                            <p class="text-muted mb-4">
                                                Hubungi kami sekarang!
                                                <br />
                                                <a href="#!">support@siapp.com</a>
                                            </p>
                                            <div class="h6 fw-bolder">Follow us</div>
                                            <a class="fs-5 px-2 link-dark" href="https://github.com/Mawlaz01/social-investment-application" target="_blank" rel="noopener noreferrer"><i class="bi-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="py-4 mt-auto bg-darkk">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; SIAPP 2024</div></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
