.btn-primary{
    background-color: #37B7C3;
    border-color: #37B7C3;
}.btn-primary:hover {
    background-color: #088395; 
    border-color: #088395;
}

.acara-card {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    min-height: 250px; 
}
.acara-card .card-header {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}.acara-card .card-header a {
    color: white; 
    text-decoration: none;
}

.acara-card .card-header a:hover {
    text-decoration: underline; 
}
.acara-card .card-body {
    background-color: #f7f7f7;
    padding: 15px;
    color: #333;
    flex-grow: 1;
}.acara-card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.acara-card:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}
.acara-card .pemilik-info {
    font-size: 0.9rem;
    color: #e0e0e0;
    margin: 0px 0px 0px 10px;
}
.card-color-1 {
    background-color: #37B7C3; 
}
.acara-card .card-footer {
    background: none;
    border-top: none;
    padding: 0;
}.pemilik-info{
    margin: 0px 0px 0px 10px;
}
