@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');font-

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #10266f;
}


.container-fluid {
    margin-top: 20px;
    color: #10266f;
}


.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(9, 49, 18, 0.25);
    margin-bottom: 20px;
}

.card-header {
    background-color: #EBF4F6;
    color: #10266f;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

.card-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.card-body-header {
    padding: 20px;
    background-color: #088395;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(9, 49, 18, 0.25);
    color: #ffffff;
}

.card-body {
    padding: 20px;
    background-color: #f7feff;
    border: 1px solid #088395;
    border-radius: 10px;
}

.btn {
    border-radius: 5px;
}

.btn-primary {
    background-color:#294193;
    border: none;
}

.btn-primary:hover {
    background-color: #3774c3;
}

.btn-sm {
    font-size: 0.875rem;
    background-color: #dcce36;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #3774c3;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th, .table td {

    text-align: left;
    border-bottom: 1px solid #ddd;
    
}.table-sm td, .table-sm th {
    font-size: 12px;
}

.table th {
    background-color: #EBF4F6;
    color: #10266f;
}

.table td {
    background-color: #fff;
}

.table tfoot td {
    font-weight: bold;
    background-color: #EBF4F6;
}

.badge {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 0.9rem;
}

.badge.text-success {
    background-color: #28a745;
}

.badge.text-muted {
    background-color: #6c757d;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-md-6 {
        margin-bottom: 15px;
    }

    .card-body {
        padding: 15px;
    }

    .table th, .table td {
        font-size: 0.9rem;
        color: #10266f;
    }
}

.illustration-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.illustration {
    position: relative;
}

.illustration .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.illustration .p-3 {
    flex-grow: 1;
    margin-right: 20px;
}

.card-footer {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 0 0 8px 8px;
}
.lokasi-a{
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 835px) {
    .table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
    }
    .table thead, .table tbody, .table thead th {
        display: block;
    }
    .table thead th:last-child{
        border-bottom: none;
    }
    .table thead {
        float: left;
    }
    .table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .table td{

        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 170px;
        height: 70px;
        font-size: 13px;
        text-overflow: ellipsis;
    }.table th{
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        height: 70px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .table tbody tr {
        display: table-cell;
    }
    .table tbody tr:nth-child(odd) {
        background: none;
    }
    .table tr:nth-child(even) {
        background: transparent;
    }
    .table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .table tbody td {
        display: block;
        text-align: center;
    }
}